.display1-size {font-size: $display1-size !important; }   
.display2-size {font-size: $display2-size !important; }   
.display3-size {font-size: $display3-size !important; }   
.display4-size {font-size: $display4-size !important; }
.display5-size {font-size: $display5-size !important; }
.display6-size {font-size: $display6-size !important; }


.shadow { box-shadow: 4px 4px 4px rgba($black, .75) !important;}
.theme-text-stork {-webkit-text-stroke: 2px black;}

